In [1]:
# Add dependencies
import pandas as pd
import numpy as np
import datetime as dt

# Files to load
file_to_load = "Crimes_RAW.csv"

# Read the CSV into a DataFrame
raw_crime_df = pd.read_csv(file_to_load)
raw_crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [2]:
# Drop IUCR, Beat, District, Ward, Community Area, FBI Code, X & Y Coordinate, Updated On and Location Columns
raw_crime_df.drop(raw_crime_df.columns[[4, 10, 11, 12, 13, 14, 15, 16, 18, 21]], axis=1, inplace=True)
raw_crime_df.head()

,ID,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,2015,41.815117,-87.670000
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,2015,41.895080,-87.765400
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,False,True,2018,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,2015,41.937406,-87.716650
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,2015,41.881903,-87.755121

In [3]:
# Remove NaN values
raw_crime_df.replace('NaN', np.NaN)
raw_crime_df = raw_crime_df.dropna()
raw_crime_df.head()

,ID,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,2015,41.815117,-87.670000
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,2015,41.895080,-87.765400
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,2015,41.937406,-87.716650
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,2015,41.881903,-87.755121
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,2015,41.744379,-87.658431

In [4]:
# Split date column into Dates & Time
raw_crime_df["Dates"]=pd.to_datetime(raw_crime_df["Date"]).dt.date
raw_crime_df["Time"]=pd.to_datetime(raw_crime_df["Date"]).dt.time
raw_crime_df.head()

,ID,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Dates,Time
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,2015,41.815117,-87.670000,2015-09-05,13:30:00
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,2015,41.895080,-87.765400,2015-09-04,11:30:00
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,2015,41.937406,-87.716650,2015-09-05,12:45:00
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,2015,41.881903,-87.755121,2015-09-05,13:00:00
5,10224742,HY411435,09/05/2015 10:55:00 AM,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,2015,41.744379,-87.658431,2015-09-05,10:55:00

In [5]:
# Remove the Date column
raw_crime_df.drop(raw_crime_df.columns[[2]], axis=1, inplace=True)
raw_crime_df.head()

,ID,Case Number,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Dates,Time
0,10224738,HY411648,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,2015,41.815117,-87.670000,2015-09-05,13:30:00
1,10224739,HY411615,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,2015,41.895080,-87.765400,2015-09-04,11:30:00
3,10224740,HY411595,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,2015,41.937406,-87.716650,2015-09-05,12:45:00
4,10224741,HY411610,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,2015,41.881903,-87.755121,2015-09-05,13:00:00
5,10224742,HY411435,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,2015,41.744379,-87.658431,2015-09-05,10:55:00

In [11]:
# Determine datatypes
raw_crime_df.dtypes

ID                        int64
Case Number              object
Block                    object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Year                      int64
Latitude                float64
Longitude               float64
Dates                    object
Time                     object
dtype: object

In [13]:
# Drop dates from before 2010
raw_crime_df['Dates'] = pd.to_datetime(raw_crime_df['Dates'])
filtered_crime_df = raw_crime_df[~(raw_crime_df['Dates'] < '2010-01-01')]
filtered_crime_df.head()

,ID,Case Number,Block,Primary Type,Description,Location Description,Arrest,Domestic,Year,Latitude,Longitude,Dates,Time
0,10224738,HY411648,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,2015,41.815117,-87.670000,2015-09-05,13:30:00
1,10224739,HY411615,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,2015,41.895080,-87.765400,2015-09-04,11:30:00
3,10224740,HY411595,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,2015,41.937406,-87.716650,2015-09-05,12:45:00
4,10224741,HY411610,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,2015,41.881903,-87.755121,2015-09-05,13:00:00
5,10224742,HY411435,082XX S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,2015,41.744379,-87.658431,2015-09-05,10:55:00

In [14]:
# export the clean dataset
filtered_crime_df.to_csv('clean_crime.csv')